body {
    background-image: url("../images/testing/bg_seed_op5.png");
    background-repeat: repeat;
    background-size: 2%;

}

@font-face {
    font-family: exo-extra-thin;
    src: url(font/Exo-ExtraLight.ttf);
}

@font-face {
    font-family: exo-thin;
    src: url(font/Exo-Thin.ttf);
}

@media screen and (min-width: 575px) {
    .bg-light {
        background-color: transparent !important;
    }

    .nav-link {
        color: white !important;
    }

}

.nav-link {
    font-size: 1rem;
}

.navbar-nav {
    padding-top: 15px;
}

.main-logo {}

@media screen and (max-width: 575px) {

    .main-logo {
        width: 30px;
    }

    .main-bg {
        top: 40px;
    }


}

@media screen and (max-width: 375px) {

    .navbar {
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0;
    }

    .navbar-toggler-icon {
        width: 0.5em;
        height: 0.5em;
    }

    .navbar-toggler {
        padding: 0 5px;
    }

    .main-logo {
        width: 20px;
    }
}


/* //////// CAROUSEL /////////// */
.carousel {
    margin: 200px 0;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 28vw;
    margin: 0 auto;
}

.carousel_image {
    width: 100%;
    /* object-fit: conain; */
    scale: .5;
    border: 0.5vw solid #C4912C;
    border-radius: 2.6vw;
    transition-property: scale;
    transition-duration: .25s;
}

.carousel_img_shadow {
    position: relative;
    bottom: 6.5vw;
    scale: .5;
}
.current_slide .carousel_img_shadow{
    position: relative;
    bottom: 0vw;
    scale: 1;
}
.youtube_video_link .carousel_img_shadow{
    position: relative;
    bottom: 0vw;
    scale: 1;
}

.current_slide .carousel_image {
    scale: 1;
    border: 0.5vw solid #09318C;
    transition-property: scale;
    transition-duration: .25s;
}

.carousel_track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45%;
}

.first_slide {}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    width: 16vw;
    height: 14vw;
    cursor: pointer;
}


.carousel_button_left {

    z-index: 10;
}

.carousel_button_right {
    right: 1px;
}

.carousel_nav {

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    background: transparent;
}

.carousel_nav_img {
    width: 2vw;
}

.indicator_active_img {
    width: 3vw;
}

/* //////////////////YOUTUBE VID////////////////////////// */
.youtube_around_text{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #C4912C;
}
.youtube_upper_text_title{
    color: #09318C;
    font-weight: 500;
}
.youtube_video {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20vw; */
}

.youtube_video_link {}

.youtube_video_img {
    border: 0.5vw solid #09318C;
    border-radius: 2.6vw;
    position: relative;
    margin: 0 0;
    display: block;
}

.carousel_nav_bottom{
    margin: 10vw 0;;
}









/* Footer */
footer {
    font-size: .7rem;
    color: #C4912C;
}

.footer_contact_us {
    margin-left: 20px;
}

.footer_welcom {
    margin-left: 20px;
    color: #C4912C;
}

.footer_sections {
    display: flex;
    gap: 20%;
}

.footer_first_section {
    width: 160px;
    margin-left: 20px;
}

.footer_contact_us {
    color: #09318C;
    font-size: 1rem;
    font-weight: 500;
}

.footer_welcom {
    font-size: 1rem;
}

.footer_header {
    color: #09318C;
    font-size: .8rem;
}

.footer_mobile_phones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_email {
    color: #C4912C;

}

.footer_end_spacing {
    background-color: #09318C;
    display: flex;
    justify-content: center;
}

.footer_logo {
    width: 170px;
    padding: 15px;
}

@media screen and (max-width: 500px) {
    footer {
        font-size: 0.4rem;
    }

    .footer_contact_us {
        font-size: 0.8rem;
    }

    .footer_welcome {
        font-size: 0.8rem;
    }

    .footer_header {
        font-size: .6rem;
    }
}